{% extends "base.html" %}

{% block titulo %}Las Caracteristicas de la Tienda{% endblock %}

{% block contenido %}
{% if articulo %}
<div class="px-9 mt-6 mb-72 flex justify-center">
    <div class=" w-full md:w-3/5 flex text-xl">
        <div class="flex-grow space-y-1 py-1 my-24">
            <p class="font-bold text-4xl">{{articulo.nombre}}</p>
            <p>Marca <span class="font-bold">{{articulo.marca}}</span></p>
            <p>Precio: {{articulo.precio}}€</p>
            {% if articulo.stock %}
                <p class="text-green-700 font-bold">Disponible</p>
            {% else %}
                <p class="text-red-800 italic">Fuera de stock</p>
            {% endif %}
            <p>Categoria: <a href="{% url 'categoria' articulo.categoria.id%}" class="px-3 py-1 rounded-md bg-gray-300 hover:bg-blue-500 hover:text-white duration-200 text-lg">{{articulo.categoria}}</a></p>
            <p>Tiendas:<p>
                {% if vendedor %}
                    <div class="space-y-1 py-1">
                        {% for t in vendedor %}
                        <div>
                            <a class="px-3 py-1 rounded-md bg-gray-300 hover:bg-blue-500 hover:text-white duration-200 text-lg" href="{% url 'tienda' t.id%}">{{ t.nombre}}</a>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="text-red-800 italic">No hay tiendas disponibles</p>
                {% endif %}
        </div>
        <div class="flex-grow">
            {% load static %}
            <img class="w-96 hover:rotate-3 duration-500" alt="{{ articulo.imagen.name }}" src="{% static articulo.imagen.name %}" />            
        </div>
    </div>
    
</div>
{% else %}
    <p>Error al cargar el archivo</p>
{% endif %}


{% endblock %}