{% extends "base.html" %}

{% block titulo %}Las Caracteristicas de la Tienda{% endblock %}

{% block contenido %}
<div class="px-9 mb-44">
    <h2 class="text-5xl my-9 text-center">Listado de artículos</h2>
    {% if articulos %}
        <div class="flex flex-wrap justify-start items-center">
        {% for a in articulos %}
            <div class="my-4 mx-9 flex flex-col items-center hover:bg-blue-600 hover:bg-opacity-95 hover:text-white duration-200 rounded-md text-center">
                <a href="{% url 'articulo' a.id%}">

                {% load static %}
                <img class="w-48" alt="Error al cargar imagen" src="{% static a.logo.name %}" />
                <p>{{ a.nombre}}</p>
                
            </div>
        {% endfor %}
        </div>
    {% else %}
    <p class="text-red-800 italic">No hay tiendas creadas.</p>
    {% endif %}
</div>
{% endblock %}