{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% tailwind_css %}
        <link rel="stylesheet" href="{% static 'estilos.css' %}">
        <title>{% block titulo %}Todo Informatica{% endblock %}</title>
    </head>
    <body class="">
        <header class="flex bg-green-300 items-center justify-between px-8 py-2">
            <a href="{% url 'index' %}">
                {% load static %}
                <img class=" w-20" alt="logo_empresa" src="{% static 'logo.png' %}"> 
            </a>
            <nav>
                <a class="p-2 bg-red-500 hover:bg-red-700 hover:text-white duration-300 hover:duration-300 rounded-md" href="{% url 'articulos' %}">Articulos</a>
                <a class="p-2 bg-red-500 hover:bg-red-700 hover:text-white duration-300 hover:duration-300 rounded-md" href="{% url 'categorias' %}">Categorias</a>
                <a class="p-2 bg-red-500 hover:bg-red-700 hover:text-white duration-300 hover:duration-300 rounded-md" href="{% url 'tiendas' %}">Tiendas</a>
            </nav>
        </header>
        <div id="content">
            {% block contenido %}
            
            {% endblock %}
        </div>
        <footer>
            <p>En caso de algun problema lease las condiciones de uso que pueden descargarse a continuacion: <a href="troll.html"></a>Link</p>
            <h2>Todo los derechos reservados para Todo Informatica© S.L</h2>
        </footer>
    </body>
</html>