{% extends "base.html" %}

{% load i18n %}

{% block titulo %}{% trans 'Las Caracteristicas de la Tienda' %}{% endblock %}

{% block contenido %}
<div class="px-36 py-20 mb-72">
    <p class="font-bold text-4xl">{% trans 'Listado de Categorias' %}</p>
    {% if lista_categorias %}
        <div class="flex flex-col py-6">
            {% for c in lista_categorias %}
                <a class="hover:transform hover:scale-150 hover:font-bold my-1 py-3 duration-300 w-fit pr-14" href="{% url 'categoria' c.id%}">{{ c.nombre}}</a>
            {% endfor %}
        </div>
    {% else %}
        <p>{% trans 'No hay categorias creadas' %}</p>
    {% endif %}
</div>
{% endblock %}