{% extends "base.html" %}

{% block titulo %}Las Caracteristicas de la Tienda{% endblock %}

{% block contenido %}
{% if categoria %}
<ul>
    <li>Nombre: {{categoria.nombre}}</li>
    <li>Articulos:<ul>
        {% if vendedor %}
            {% for a in articulos %}
            <li>
                <a href="{% url 'articulo' a.id%}">{{ a.nombre}}</a>
            </li>
            {% endfor %}
        {% else %}
            <p>No hay tiendas disponibles</p>
        {% endif %}
    </ul></li>

</ul>
{% else %}
    <p>Error al cargar el archivo</p>
{% endif %}
{% endblock %}