{% extends "base.html" %}

{% block titulo %}Las Caracteristicas de la Tienda{% endblock %}

{% block contenido %}
{% if categoria %}
<div class="px-56 mb-44">
    <p class="my-2 text-xl">Categoría <span class="text-4xl font-bold mx-2">{{categoria.nombre}}</span></p>
    <p class="text-gray-500 italic">Estos artículos pertenecen a la categoría seleccionada<p>
        {% if articulos %}
            <div class="flex flex-wrap justify-start items-center">
            {% for a in articulos %}
                {% if a.categoria.id == categoria.id %}
                <div class="my-4 mx-9 flex flex-col items-center hover:bg-blue-600 hover:bg-opacity-95 hover:text-white duration-150 hover:duration-150 rounded-md text-center">
                    <a href="{% url 'articulo' a.id%}">
                        {% load static %}
                        <img class="w-48" alt="Error al cargar imagen" src="{% static a.logo.name %}" />
                    <p>{{ a.nombre}}</p>
                </div>
                
                {% endif %}
            {% endfor %}
            </div>
        {% else %}
            <p>No hay tiendas disponibles</p>
        {% endif %}
    </ul></li>

</div>
{% else %}
    <p>Error al cargar el archivo</p>
{% endif %}
{% endblock %}