{% extends "base.html" %}

{% block titulo %}Listado de departamentos{% endblock %}

{% block contenido %}
<div class="w-screen flex flex-col justify-center py-24 px-11">
  <p class="text-6xl">Aprovecha la <span class="text-blue-700 font-bold	text-7xl">mejor oferta</span> disponile en la tienda</p>
  <div>
    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery.js"></script>
    <script>
      $(document).ready(function(){
        $("#contenedorCompras").click(function(){
          $(this).append('<p class="my-2">Ahorro: <span class="italic">Julia</span> se ha ahorrado <span class="font-bold">25€</span> al comprar <span class="font-bold">MacBook Pro M1</span></p>');
        });
      });
    </script>
    <div id="contenedorCompras" class="max-h-24 h-6 w-4 overflow-y-scroll bg-red-500">
        <p class="my-2">Ahorro: <span class="italic">Julia</span> se ha ahorrado <span class="font-bold">25€</span> al comprar <span class="font-bold">MacBook Pro M1</span></p>
    </div>
  </div>
</div>
{% endblock %}
