{% extends "base.html" %}

{% block titulo %}Las Caracteristicas de la Tienda{% endblock %}

{% block contenido %}
<div class="px-36 py-20 mb-72">
    <p class="font-bold text-4xl">Listado de tiendas</p>
    {% if tiendas %}
        <div class="flex flex-wrap justify-start items-center my-4">
        {% for t in tiendas %}
            <div class="my-4 mx-9 p-7 flex flex-col items-center hover:bg-red-600 hover:bg-opacity-95 hover:text-white duration-200 rounded-md text-center">
                <a href="{% url 'tienda' t.id%}">
                    {% load static %}
                    <img class=" w-28" alt="{{ entidad.imagen.name }}" src="{% static entidad.imagen.name %}" />
                <p>{{t.nombre}}</p>
            </div>
            
        {% endfor %}
        </div>
    {% else %}
    <p class="text-red-800 italic">No hay tiendas creadas.</p>
    {% endif %}
</div>
{% endblock %}