{% extends "base.html" %}

{% load i18n %}

{% block titulo %}{% trans 'Las Caracteristicas de la Tienda' %}{% endblock %}

{% block contenido %}
<div class="px-36 py-20 mb-72">
    <p class="font-bold text-4xl">{% trans 'Listado de tiendas' %}</p>
    {% if tiendas %}
        <div class="flex flex-wrap justify-start items-center my-4">
        {% for t in tiendas %}
            <a href="{% url 'tienda' t.id%}" class="mx-9 p-7 flex flex-col items-center hover:shadow-xl hover:shadow-gray-300 duration-200 rounded-xl text-center min-h-[200px] min-w-[200px]">
                    {% load static %}
                    <img class="h-24 my-2" alt="Error al cargar imagen" src="{% static t.logo.name %}" />
                <p>{{t.nombre}}</p>
            </a>
            
        {% endfor %}
        </div>
    {% else %}
    <p class="text-red-800 italic">{% trans 'No hay tiendas creadas' %}</p>
    {% endif %}
</div>
{% endblock %}